body.dark {
  background-color: #1e1e1e;
}
body.dark .navbar {
  background-color: #3c3c3c;
  color: #d4d4d4;
}
body.dark .navbar .navbar-menu {
  background-color: transparent !important;
}
body.dark .navbar .navbar-menu .navbar-item {
  color: inherit;
}
body.dark .navbar .navbar-menu .navbar-item:hover,
body.dark .navbar .navbar-menu .navbar-item:focus {
  background-color: #37373d;
  color: #007acc;
}
